html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

a {
  color: #dd1c1a;
}

body {
  background-color: #fa8bff;
  background-image: linear-gradient(
    0deg,
    #fa8bff 0%,
    #2bd2ff 25%,
    #2bff88 45%,
    #ffffff 75%,
    #ffffff 100%
  );
}

.navigation {
  background-color: burlywood;
  padding: 16px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: 5px;
}

/*div buttons*/
.navigation__button {
  display: inline-block;
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #e71717;
  background: burlywood;
  margin: 10px;
  color: white;
}

.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__header {
}

.main__picture {
}

.main__title {
  color: #06aed5;
}

.introduction {
}

.introduction__picture {
}

.introduction__title {
  color: #086788;
}

.introduction__text {
  font-size: larger;
}

.notes {
  border-style: dashed;
  border-width: 1px;
  padding: 10px;
}

.notes__header {
  color: #0f5261;
}

.notes__article {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding: 10px;
}

.notes__title {
  color: #f0c808;
}

.notes__article-text {
  font-family: "Gill Sans", sans-serif;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  font-size: smaller;
}
