a {
  color: #dd1c1a;
}

.navigation__link {
  color: white;
}

body {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  background-color: white;
  position: fixed;  
  }

.navigation__button {
  display: inline-block;
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #e71717;
  background: burlywood;
  margin: 10px;
  color: white;
}

main {
  padding-top: 70px;
}

.header-h1 {
  color: #06aed5;
}

.introduction {

}

.introduction__title {
  color: #086788;
}

.introduction__text {
  font-size: larger;
}

.notes {

}

.notes__header {
  color: #0f5261
}

.notes__article {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  }

.notes__title {
  color: #f0c808;
}

.notes__article-text {
  font-family: "Gill Sans", sans-serif;
}